

@if(_userCreatedTasks.Count() == 0)
{
    <div class="no-trails" style="text-align:center;margin-top:100px;">
        <svg viewBox="0 0 16 16" class="bi bi-tree" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="width:200px;">
            <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.50 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.50 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 01-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0zM5.9344.5H6a.5.5 0 0 1 .424.765L4.402 8.5H4.5a.5.5 0 0 1 .447.724L3.3112.5h9.382l-1.638-3.276A.5.5 0 0 1 11.5 8.5h.098L9.576 5.265A.5.5 0 0 110 4.5h.066L8 1.401 5.934 4.5z" />
            <path d="M7 13.5h2V16H7v-2.5z" />
        </svg>
        <h3 class="text-muted fw-light">
            You have not created any task. Click <a class="link-light fst-italic" href="/tasks/add">here</a> to create a task.
        </h3>
    </div>
}
else
{
    <div class="d-flex justify-content-center align-items-center w-100 p-2">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Task ID</th>
                    <th>Title</th>
                    <th>Expected Completed Date</th>
                    <th>Priority</th>
                    <th>Stage</th>
                    <th>Status</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var createdTask in _userCreatedTasks)
                {
                    <tr>
                        <td>@createdTask.TaskId</td>
                        <td>@createdTask.Title</td>
                        <td>@createdTask.ProposedCompletionDate.ToString("dd MMM yyyy")</td>
                        <td>@createdTask.Priority</td>
                        <td>@createdTask.Stage</td>
                        <td>
                            @if (createdTask.CompletionDate.HasValue)
                            {
                                <span class="badge rounded-pill text-bg-success">Completed</span>
                            }
                            else if (createdTask.CancelReason is not null)
                            {
                                <span class="badge rounded-pill text-bg-secondary">Cancelled</span>
                            }
                            else if (createdTask.ProposedCompletionDate < DateTime.UtcNow.Date)
                            {
                                <span class="badge rounded-pill text-bg-danger">Overdue</span>
                            }
                            else if (createdTask.ProposedCompletionDate == DateTime.UtcNow.Date)
                            {
                                <span class="badge rounded-pill text-bg-warning">Due Today</span>
                            }
                        </td>
                        <td class="d-flex justify-content-between align-content-center">
                            <button class="btn btn-outline-primary" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                </svg>
                            </button>
                            <button class="btn btn-danger" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                </svg>
                            </button>
                            <button class="btn btn-primary" type="button" @onclick="(() => HandleViewDeatils(createdTask.TaskId))">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars-fill" viewBox="0 0 16 16">
                                    <path d="M4.5 1A1.5 1.5 0 0 0 3 2.5V3h4v-.5A1.5 1.5 0 0 0 5.5 1zM7 4v1h2V4h4v.882a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V13H9v-1.5a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5V13H1V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V4zM1 14v.5A1.5 1.5 0 0 0 2.5 16h3A1.5 1.5 0 0 0 7 14.5V14zm8 0v.5a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V14zm4-11H9v-.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
}


@code {
    private IEnumerable<CreatedTaskDto> _userCreatedTasks;

    [Parameter, EditorRequired]
    public IEnumerable<CreatedTaskDto> UserCreatedTasks { get; set; }

    protected override void OnParametersSet()
    {
        _userCreatedTasks = UserCreatedTasks;
    }

    private void HandleViewDeatils(string taskId)
    {
        navManager.NavigateTo($"tasks/{taskId}");
    }
}
